# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env # Environment variables

# Build artifacts
dist/
build/
coverage/

# IDE and OS specific
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Temporary files
tmp/
*.tmp

#.env
.env
.env.*
/generated/prisma